   #contentExecuteSQL {
    background: #ff; /* Цвет фона */
    /*width: 800px;  Ширина 800px*/
    height: 200px; /* Высота */
    padding: 10px; /* Поля вокруг текста */
    /* Добавляем полосы прокрутки */
    overflow-x: auto;
   }